body{
  font-family: sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

.slider {
  position: relative;
  max-width: 800px;
  overflow: hidden;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.slide {
  display: flex;
  height: 600px;
  width: 100%; 
}
.fade{
  animation: fadEffect 1s;
}
@keyframes fadeEffect {
  from { opacity: 0.4; }
  to { opacity: 1;}
}
.prev, .next{
  position: absolute;
  top: 50%;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  background-color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 50%;
  transform: translateY(-50%);
}
.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);

}
.prev{left: 15px; }
.next { right: 15px;}
.dots {
  text-align: center;
  padding: 10px;
  background-color: #fff;
}

.dot{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
}
.dot.active{
  background-color: #333;
}